.btn{
    font-size: 1.5vw;
}
.companyLogo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    height: auto;
}
.newsLetterLogo img{
    /* margin-left: 36%;  */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}
h1{
    /* background-color: #FFAC27; */
    /* color: white; */
    font-size: 5vw;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    /* line-height: 70%; */
    margin-bottom: 1%;
}
h3{
    font-size: 2.4vw;
    margin-bottom: 1.5%;
}
h4{
    font-size: 2.2vw;
    /* margin-bottom: 2%; */
}
.content a{
    background-color: #FFAC27;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    font-size: 25px;
}

@media only screen and (max-width: 992px) and (min-width: 720px){
    h1{
        font-size: 6vw;
    }
    h3{
        font-size: 2.7vw;
    }
    h4{
        font-size: 2.5vw;
    }
    
}
@media only screen and (max-width: 720px) and (min-width: 400px){
    .companyLogo img{
        width: 30%;
    }
    .content a{
        font-size: 22px;
    }
    h1{
        font-size: 8vw;
    }
    h3{
        font-size: 4.3vw;
    }
    h4{
        font-size: 3.5vw;
    }

    .newsLetterLogo img{
        width: 50%;
    }
}

@media only screen and (max-width: 400px){
    .companyLogo img{
        width: 60%;
    }
    h1{
        font-size: 9vw;
    }
    h3{
        font-size: 6vw;
        margin: 10px 0 10px 0;
    }
    h4{
        font-size: 4.8vw;
    }
    .content a{
        font-size: 15px;
    }
    .newsLetterLogo img{
        width: 80%;
    }
}
